.projectsSection {
    width: min(110rem, 100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
}

.titleWrapper {
    margin: 0 auto;
    position: relative;
    width: 95%;
    top: 2rem;
}

@media screen and (max-width: 1200px) {
    .projectsSection {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    .projectsSection {
        gap: 6rem;
    }

}