.sectionTitleContainer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.sectionTitle {
    font-size: var(--font-size-7);
}

.bar {
    width: 30rem;
    height: 0.1rem;
    background-color: var(--font-color-paragraph);
}


@media screen and (max-width: 768px) {
    .sectionTitle {
        font-size: var(--font-size-6);
    }

}

@media screen and (max-width: 480px) {
    .sectionTitle {
        font-size: var(--font-size-5);
    }

    .bar {
        width: 50%;
    }

}