.aboutMeSection {
    width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
}

.aboutMeContent {
    display: flex;
    gap: 4rem;
}

.aboutMeTextContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-500);
    word-wrap: break-word;
}


.imgContainer {
    position: relative;
    height: 35rem;
    width: 25rem;
}

.backgroundBox {
    content: "";
    position: absolute;
    top: 2rem;
    left: 2rem;
    bottom: -1rem;
    right: -1rem;
    border: 3px solid var(--color-filter);
    border-radius: var(--border-radius-standard);
    opacity: 0.5;
}

.imgFilter {
    height: inherit;
    width: inherit;
    background-color: var(--color-filter);
    border-radius: var(--border-radius-standard);
    transition: transform 0.5s ease;
}

.imgFilter:hover {
    transform: translate(1rem, 1rem);
}

.picture {
    position: relative;
    height: inherit;
    width: inherit;
    filter: grayscale(100%) contrast(1);
    mix-blend-mode: multiply;
    z-index: 1;
    border-radius: inherit;
    transition: all 0.5s ease;
}

.picture:hover {
    filter: none;
    mix-blend-mode: normal;
}

.skillsContainer {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    flex-wrap: wrap;
}

.skillContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skillIcon {
    height: 2rem;
    width: 2rem;
    color: var(--color-highlight)
}

.skill {
    font-size: var(--font-size-3);
    color: var(--font-color-paragraph)
}


@media screen and (max-width: 1200px) {
    .aboutMeSection {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .aboutMeSection {
        height: 100%;
        gap: 4rem;
    }

    .aboutMeTitle {
        font-size: var(--font-size-6);
    }

    .aboutMeContent {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

}

@media screen and (max-width: 480px) {
    .aboutMeTitle {
        font-size: var(--font-size-5);
    }

    .imgContainer {
        position: relative;
        height: 30rem;
        width: 22.5rem;
    }

    .aboutMeTextContainer {
        font-weight: var(--font-weight-400);
    }

}