.heroSection {
    margin: 0 auto;
    width: min(120rem, 100vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0;
}

.heroIntro {
    font-family: var(--font-mono);
    color: var(--color-highlight);
    font-size: var(--font-size-4);
    letter-spacing: -0.1rem;
    
}

.heroTitle {
    font-size: var(--font-size-11);
}

.heroJobTitle {
    font-size: var(--font-size-10);
}

.heroDescription {
    margin-top: 2rem;
    width: 55rem;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-500);
    word-wrap: break-word;
}

.CVButton {
    margin-top: 3rem;
}

@media screen and (max-width: 1200px) {

    .heroSection {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .heroTitle {
        font-size: var(--font-size-9);
    }

    .heroJobTitle {
        font-size: var(--font-size-8);
    }


    .heroDescription {
        width: 80%;
    }

}

@media screen and (max-width: 480px) {

    .heroTitle {
        font-size: var(--font-size-7);
    }

    .heroJobTitle {
        font-size: var(--font-size-7);
    }

    .heroDescription {
        width: 100%;
        font-weight: var(--font-weight-400);
    }


}