@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter+Tight:wght@400;500;700&family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {

  /* Font */
  --font-mono: 'Fira Mono', monospace, 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* Font-Weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;

  /* Font-Size */
  --font-size-1: 1.0rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 1.8rem;
  --font-size-5: 2.4rem;
  --font-size-6: 3.0rem;
  --font-size-7: 3.6rem;
  --font-size-8: 4.8rem;
  --font-size-9: 6.0rem;
  --font-size-10: 7.2rem;
  --font-size-11: 9.6rem;

  /* Border Radius */
  --border-radius-standard: 0.4rem;

  /*-------------Dark Theme-------------*/
  /*Main Colors*/
  --color-primary-shadow-2: #062227;
  --color-primary-shadow-1: #072b31;
  --color-primary: #06272c;
  --color-primary-tint-1: #204046;
  --color-primary-tint-2: #072b31;

  /*Highlight Colors*/
  --color-highlight: #a08830;
  --color-highlight: rgb(0, 255, 136);


  /*Font Colors*/
  --font-color-header-1: #ced4da;
  --font-color-header-2: #a3c7d2;
  --font-color-paragraph: #5a8b92;


  /*Filter Colors*/
  --color-filter: #79dbff;
  --color-filter-2: #177280;


  /*Box Shadow */
  --box-shadow-1: 0 0 1rem 0.5rem rgba(4, 31, 36, 0.4);

  /*Scrollbar*/
  --scrollbar-thumb-color: #244c52;


  /*-------------Light Theme-------------*/
  /* --color-primary: #e67700; */

  /*Highlight Colors*/
  /* --color-highlight: #82c91e; */

  /*Font Colors*/
  /* --font-color-header-1: #fff3bf;
  --font-color-header-2: #ffec99;
  --font-color-paragraph: #fab005; */


  /*Filter Colors*/
  /* --color-filter: #ffe066;
  --color-filter-2: #ffd43b; */

  /*Box Shadow */
  /* --box-shadow-1: 0 0 1rem 0.5rem rgba(4, 31, 36, 0.4); */

  /* --color-primary: #ff6b6b; */

  /*Highlight Colors*/
  /* --color-highlight: #82c91e; */

  /*Font Colors*/
  /* --font-color-header-1: #fff3bf; */
  /* --font-color-header-2: #ffec99; */
  /* --font-color-paragraph: #fab005; */


  /*Filter Colors*/
  /* --color-filter: #ffe066; */
  /* --color-filter-2: #ffd43b; */

  /*Box Shadow */
  /* --box-shadow-1: 0 0 1rem 0.5rem rgba(4, 31, 36, 0.4); */
}

* {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-primary);
}

h1 {
  color: var(--font-color-header-1);
  font-weight: var(--font-weight-500);
}

h2 {
  color: var(--font-color-header-2);
  font-weight: var(--font-weight-500);
}

p {
  color: var(--font-color-paragraph);
}

button {
  cursor: pointer;
}