.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000rem;
}

.blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.mainContent {
    margin: 0 auto;
    width: 80%;
}

.placeHolder {
    width: 100%;
    height: 100vh;
}